font-family = "FiraCode Nerd Font Mono"
font-size = 10.5

theme = light:Catppuccin Latte,dark:Catppuccin Frappe
background-opacity = 0.88
window-theme = auto

window-width = 125
window-height = 38

gtk-titlebar-style = tabs
gtk-single-instance = true

keybind = ctrl+shift+s=new_split:right
keybind = ctrl+shift+d=new_split:down
keybind = ctrl+alt+enter=toggle_split_zoom
keybind = ctrl+shift+z=undo
keybind = alt+0=goto_tab:10
keybind = ctrl+page_up=scroll_to_top
keybind = ctrl+page_down=scroll_to_bottom
keybind = alt+page_up=scroll_page_up
keybind = alt+page_down=scroll_page_down
